:root {
	--background-color: rgb(191, 209, 229);
	--mainBackground-color: rgb(166, 189, 219);

	--border-color: rgb(217, 229, 240);
	--inputBorder-color: rgb(80, 133, 188);

	--buttonBackground-color: rgb(104, 149, 197);
	--buttonHoverBackground-color: rgb(166, 189, 219);
	--buttonText-color: rgb(217, 229, 240);

	--tileBackground-color: rgb(128, 166, 206);

	--headerText-color: rgb(8, 96, 168);
	--subHeaderText-color: rgb(45, 114, 178);;
	--regularText-color: rgb(104, 149, 197);
	--inputText-color: rgb(80, 133, 188);
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 1px solid red; /* for testing purposes only */
}

.wrapper {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
}

#home-wrapper {
	overflow: hidden;
	gap: 10px;

	transition: transform 1s ease-in-out;
	z-index: 1;

	background: var(--mainBackground-color);
}

.hide-home {
	transform: translateY(-100vh);
}

h1 {
	color: var(--headerText-color);
	font-size: 50px;
}

h2 {
	color: var(--subHeaderText-color);
}

p {
	color: var(--regularText-color);
}

#calendar-wrapper {
	background: var(--background-color);
}

/*button {
	background-color: var(--buttonBackground-color);
	color: var(--border-color);
	text-align: center;
	border: 1px solid var(--border-color);
	border-radius: 10%;
	padding: 10px;
	margin: 0;
}

button:hover {
	cursor: pointer;
	background: linear-gradient(var(--buttonHoverBackground-color), var(--buttonBackground-color));
}

.button-active, button:active {
	box-shadow: inset 0 0 10px var(--border-color);
}

input {
	text-align: center;
	border-radius: 10%;
	color: var(--inputText-color);
	border: 1px solid var(--inputBorder-color);
	margin: 0;
}*/